<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Seu título aqui{% endblock %}</title>

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="\static\styles\public\general.css">
    <link rel="stylesheet" href="\static\styles\public\menu.css">
    {% block additional_css %}{% endblock %}
</head>
<body>
    <div class="grid-container">
        {% include '_menu.html' %}
        <main class="main-container">
            {% block content %}{% endblock %}
        </main>
    </div>

    <!-- Scripts -->
    <!-- ApexCharts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script>
    <!-- Custom JS -->
    <script src="\static\scripts\script.js"></script>
</body>
</html>
