<aside id="sidebar">
    <div class="sidebar-title">
        <div class="sidebar-brand">
            <svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <!-- Aqui você pode adicionar o código SVG do logo da empresa -->
            </svg>
            Money System
        </div>
        <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
    </div>

    <ul class="sidebar-list">
        <li class="sidebar-list-item">
            <a href="dashboard.html">
                <span class="material-icons-outlined">dashboard</span> Dashboard
            </a>
        </li>
        <li class="sidebar-list-item active">
            <a href="register_colab.html">
                <span class="material-icons-outlined">person</span> Registro Colab
            </a>
        </li>
        <li class="sidebar-list-item">
            <a href="financeiro.html">
                <span class="material-icons-outlined">attach_money</span> Financeiro
            </a>
        </li>
        <!-- Adicionada nova opção no menu: PIX -->
        <li class="sidebar-list-item">
            <a href="pix.html">
                <span class="material-icons-outlined">payment</span> PIX
            </a>
        </li>
        <li class="sidebar-list-item">
            <a href="#">
                <span class="material-icons-outlined">settings</span> Configurações
            </a>
        </li>
    </ul>
</aside>
