/* ---------- VARIABLES ---------- */

:root {
    --max-width-form: 600px;
    --margin-bottom-control: 10px;
    --width-button: 100%;
}

/* Estilos para o formulário de registro financeiro */

.register-form {
    max-width: var(--max-width-form); /* Define a largura máxima do formulário */
    margin: 0 auto; /* Centraliza o formulário horizontalmente */
}

.register-form .form-control {
    width: 100%; /* Define a largura total para os inputs/selects */
    margin-bottom: var(--margin-bottom-control); /* Adiciona espaço entre os inputs/selects */
}

.register-form .form-row:last-child .form-group {
    margin-bottom: 0; /* Remove a margem inferior do último grupo de formulários */
}

.register-form .btn-primary {
    width: var(--width-button); /* Define a largura total para o botão de enviar */
}

.main-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza verticalmente */
}
