/* ---------- VARIABLES ---------- */

:root {
  --color-header-background: #ffffff;
  --color-card-background: #ffffff;
  --color-card-border: #d2d2d3;
  --color-card-border-left-1: #246dec;
  --color-card-border-left-2: #f5b74f;
  --color-card-border-left-3: #367952;
  --color-card-border-left-4: #cc3c43;
  --font-weight-bold: 600;
}

/* ---------- HEADER ---------- */

.header {
  grid-area: header;
  height: 70px;
  background-color: var(--color-header-background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.menu-icon {
  display: none;
}

/* ---------- MAIN CARDS ---------- */

.main-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 20px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px;
  background-color: var(--color-card-background);
  box-sizing: border-box;
  border: 1px solid var(--color-card-border);
  border-radius: 5px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.card:first-child {
  border-left: 7px solid var(--color-card-border-left-1);
}

.card:nth-child(2) {
  border-left: 7px solid var(--color-card-border-left-2);
}

.card:nth-child(3) {
  border-left: 7px solid var(--color-card-border-left-3);
}

.card:nth-child(4) {
  border-left: 7px solid var(--color-card-border-left-4);
}

.card > span {
  font-size: 20px;
  font-weight: var(--font-weight-bold);
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner > p {
  font-size: 18px;
}

.card-inner > span {
  font-size: 35px;
}

/* ---------- CHARTS ---------- */

.charts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.charts-card {
  background-color: var(--color-card-background);
  margin-bottom: 20px;
  padding: 25px;
  box-sizing: border-box;
  -webkit-column-break-inside: avoid;
  border: 1px solid var(--color-card-border);
  border-radius: 5px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.chart-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: var(--font-weight-bold);
}
